* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Courier New', monospace;
}

html {
  font-size: 25px;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  max-width: 750px;
  border: 20px Outset #43970c;
  margin: auto;
}

header {
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  padding: 0 10em;
  background: linear-gradient(rgb(220, 253, 210), #43970c);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  background: #dcffe3;
}

footer {
  width: 100%;
  padding: 0.1em;
  background: linear-gradient(rgb(220, 253, 210), #2fff5c);
  color: rgb(0, 0, 0);
  display: grid;
  place-content: center;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 7.5rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.addForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.75rem 0 0;
  padding: 0 0.75rem 0.75rem;
  border-bottom: 10px solid rgb(20, 165, 32);
}

.addForm label {
  position: absolute;
  left: -99999px;
}

.addForm input[type='text'] {
  flex-grow: 1;
  max-width: calc(100% - 50px);
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 5rem;
  padding-left: 25px;
  margin-right: 0.25rem;
  outline: none;
}

button {
  height: 55px;
  min-width: 55px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgb(33, 63, 5);
  color: rgb(233, 233, 233);
  cursor: pointer;
}

button:focus, 
button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(235, 243, 235);
}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.75rem 0 0;
  padding: 0 0.75rem 0.75rem;
  border-bottom: 10px solid rgb(20, 165, 32);
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input[type='text'] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  padding-left: 25px;
  border-radius: 5rem;
  outline: none;
}

#photo-canvas {
  display: none;
}